@charset "utf-8";

/* 나눔스퀘어 네오 폰트 */

/* font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy'; */

/* 마포꽃섬 폰트 */
@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

/* 카페24 숑숑 폰트 */
@font-face {
  font-family: 'Cafe24SsongSsong';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}