@charset "utf-8";

:root{

  /* 폰트 지정 */
  --mainKor-font: 'NanumSquareNeo';
  --mainEng-font: 'MapoFlowerIsland';
  --subKor-font: 'Cafe24SsongSsong', 'NanumSquareNeo', sans-serif;

  /* 색상 지정 */
  --main-color: rgb(75, 59, 56);
  --point-color: rgb(204, 153, 153);
  --sub1-color: #E5B6A0;
  --sub2-color: #F2D6C9;
  --bg-color: #F9F4F1;
  --bg-color2: rgb(249, 244, 241, 0.7);
  --text1-color: #4b3b38;
  --text2-color: #F9F4F1;
}

body{
  background-color: var(--bg-color);
  color: var(--text1-color);
  overflow-x: hidden;
}

.h1{
  /* font-size: 30px; */
  font-size: clamp(20px, 3vw, 40px);
  font-family: var(--mainEng-font);
  /* padding-top: 50px; */
  padding-top: clamp(20px, 3vw, 50px);
  text-align: center;
}